.nav-files-container {
	// vault name
	.mod-root > .tree-item-self {
		font-variation-settings: "MONO" 1;
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}

	.nav-folder {
		border-radius: 4px;
	}

	.tree-item-inner {
		font-variation-settings: "MONO" 1;
		mix-blend-mode: screen;
	}

	> .tree-item > .tree-item-children {
		> .tree-item.nav-folder {
			&:nth-of-type(2) {
				background: rgba(var(--color-cyan-rgb), 0.2);
			}
			&:nth-of-type(3) {
				background: rgba(var(--color-green-rgb), 0.2);
			}
			&:nth-of-type(4) {
				background: rgba(var(--color-yellow-rgb), 0.2);
			}
			&:nth-of-type(5) {
				background: rgba(var(--color-orange-rgb), 0.2);
			}
			&:nth-of-type(6) {
				background: rgba(var(--color-red-rgb), 0.2);
			}
		}
	}
}
